.productCart{
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}
.productCart__image{
    object-fit: contain;
    width: 160px;
    height: 160px;
}
.productCart__title{
    font-size: 16px;
    font-weight: 600;
}
.product__info{
   padding-left: 20px;
}
.productCart__button{
    border: 1px solid;
    margin-top: 10px;
    background-color: orange;
 }
 